:root {
    --start-hint-delay: 3s;
    --pink: #88787f;
    --yellow: #FFEFAF;
    --blue: #CCF4FF;

    --border-radius: 1em;
    --shadow: 0 0 1.5em #00000030;

    --modal-transition: .4s;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--yellow);

    height: 100dvh;
    display: grid;
    place-items: center;
}




.background-gradient {
    position: fixed;
    aspect-ratio: 1;
    height: 250%;
    z-index: -1;
    animation: background-gradient-animation 10s infinite linear;
    background: linear-gradient(-45deg, var(--pink) 25%, var(--blue), var(--yellow) 70%);
}
@keyframes background-gradient-animation {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}