:root {
    --start-hint-delay: 3s;
    --pink: #FFACCD;
    --yellow: #FFEFAF;
    --blue: #CCF4FF;

    --border-radius: 1em;
    --shadow: 0 0 1.5em #00000030;

    --modal-transition: .4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--yellow);

    height: 100dvh;
    display: grid;
    place-items: center;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
}

.background-gradient {
    position: fixed;
    aspect-ratio: 1;
    height: 250%;
    z-index: -1;
    animation: background-gradient-animation 10s infinite linear;
    background: linear-gradient(-45deg, var(--pink) 25%, var(--blue), var(--yellow) 70%);
}
@keyframes background-gradient-animation {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}



.modal {
    opacity: 0;
    transition: var(--modal-transition), scale var(--modal-transition) cubic-bezier(0.68, -0.55, 0.27, 1.55);
    width: 80%;
    max-width: 30em;
    margin: 0 auto;
    top: 50%; 
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    scale: 0.9;
    border: none;
    background-color: #EBEBEB80;
    backdrop-filter: blur(20px);
    border-radius: 1em;
    box-shadow: var(--shadow);

    &::backdrop {
        transition: var(--modal-transition);
        transition-delay: .2s;
        background-color: #00000000;
        backdrop-filter: blur(0px);
    }
    
    &.open {
        opacity: 1;
        scale: 1;

        &::backdrop {
            background-color: #00000010;
            backdrop-filter: blur(2px);
        }
    }

    .modal-header {
        padding: 2em;
        text-align: center;
        display: grid;
        gap: .75em;
    }
    .modal-content {
        width: 100%;
        display: grid;
        place-items: center;
        padding: 2em;
        padding-top: 0;
    }

    .modal-footer {
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
        user-select: none;

        .side-button {
            display: flex;
            width: 100%;
            
            button:nth-child(1) {
                border-right: 1px solid #00000030;
            }
            button:nth-child(2) {
                border-left: 1px solid #00000030;
            }
        }

        button {
            position: relative;
            border: none;
            background-color: transparent;
            padding: 1rem;
            color: #000000;
            cursor: pointer;
            transition: background-color .1s;
            width: 100%;
            outline: none;
            -webkit-tap-highlight-color: transparent;

            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: #00000030;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:active {
                background-color: #00000010;
            }
        }
    }
}



.swiper.hint {
    .hint-information {
        opacity: 1 !important;
    }

    .swiper-wrapper {
        animation: hint-tilt 2s var(--start-hint-delay) infinite alternate;

        .swiper-slide:nth-child(1) .swiper-slide-shadow-right {
            animation: hint-opacity 2s var(--start-hint-delay) infinite alternate;
        }
    }
}
.hint-information {
    position: absolute;
    top: -1.5em;
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity .4s;
}

@keyframes hint-tilt {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(-35deg);
    }
    50% {
        transform: rotateY(0deg);
    }
}
@keyframes hint-opacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
}

.swiper {
    user-select: none;
    transition: transform .4s, scale .4s;
    aspect-ratio: 545/846;
    width: 20em;
    border-radius: var(--border-radius);
    filter: drop-shadow(var(--shadow));

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--yellow);
        color: #000;

        font-size: 22px;
        border-radius: var(--border-radius);
        font-weight: bold;

        .swiper-slide-shadow-right {
            transition: opacity .4s;
        }
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        border-radius: var(--border-radius);
    }

    .back {
        display: grid;
        place-items: center;
    }

    .front {
        &:active{
            color: #fff;   
        }
    }
}
